{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

    <div class="container-fluid">
        <h1>New Blog</h1>

        {% block form_row %}
            <div class="form_row">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        {% endblock %}
    </div>
{% endblock %}